
<!--Banner Start-->
<section class="page-title cursor-light">
    <!-- Pattern Layers -->
    <div class="pattern-layers">
        <div class="layer-one"></div>
        <div class="layer-two"></div>
    </div>
    <div class="auto-container">
        <h2 class="hide-cursor">Latest News</h2>
        <ul class="page-breadcrumb link">
            <li><a href="javascript:void(0);"><span class="icon fas fa-home"></span> home</a></li>
            <li>Latest News</li>
        </ul>
    </div>
</section>
<!--Banner End-->