<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Author -->
    <meta name="author" content="Sudotech Solutions Limited">
    <!-- description -->
    <meta name="description" content="We believe the goal for all the technology advancement in modern society is to make things easier both in business and in our personal life. Sudotech Solutions will handle all your IT needs, both software and hardware so that you can focus on what matters to you the most.">
    <!-- keywords -->
    <meta name="keywords" content="sudotech, solutions, technology, it solutions, software, hardware, seo, website, blog, graphic design, UI/UX, digital marketing, ppc, branding, coding, web development, software engineering">

    <!-- Favicon -->
    <link href="assets/img/favicon.ico" rel="icon">
    <!-- Bundle -->
    <link href="vendor/css/bundle.min.css" rel="stylesheet">
    <link href="vendor/css/revolution-settings.min.css" rel="stylesheet">
    <!-- Plugin Css -->
    <link href="vendor/css/jquery.fancybox.min.css" rel="stylesheet">
    <link href="vendor/css/owl.carousel.min.css" rel="stylesheet">
    <link href="vendor/css/swiper.min.css" rel="stylesheet">
    <link href="vendor/css/cubeportfolio.min.css" rel="stylesheet">
    <!-- Style Sheet -->
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- Page Title -->
    <title>{{ title }}</title>
    
</head>


<body data-offset="90" data-spy="scroll" data-target=".navbar">

{% include 'header.njk' %}

{{ content | safe }}

{% include 'footer.njk' %}

</body>
</html>